<meta charset="utf-8">

<script>
        document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
        {% if site.enable_copy_code_button -%}
                window.enable_copy_code_button = true;
        {%- endif %}
</script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" />
<link rel="apple-touch-icon" href="{{ "/assets/images/apple-touch-icon.png" | relative_url }}" />
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

<title>{{ page.title }}</title>

{% if site.head_scripts %}
        {% for script in site.head_scripts %}
                <script src="{{ script | relative_url }}"></script>
        {% endfor %}
{% endif %}
