---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* User defined */

#publication {
    display: table;
    width: 100%;
    a:hover
        {
                text-decoration: none;
                border-bottom: 2px solid $primary-color;
        }
}

#publication .paper {
    display: table-cell;
    width: 90%;
    padding: 10px 10px 10px 20px;
}

#publication .stats {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}

.style_title {
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.style_author {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #333333;
}

.style_journal {
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8rem;
  color: #333333;
}

.style_small {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #333333;
}

.style_contact {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #333333;
  a:hover
        {
                text-decoration: none;
                border-bottom: 2px solid $primary-color;
        }
}

.style_email {
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        color: #333333;
        a:hover
        {
                text-decoration: none;
                border-bottom: 2px solid $primary-color;
        }
}